<div class="jumbotron">
	<h3>What you can search:</h3>
	<ul>
		<li><b>Terms:</b> <pre>seizure</pre> <pre>headache</pre></li>
		<li><b>Phrases:</b> <pre>"high cholesterol"</pre><pre>"left lower back pain"</pre></li>
		<li><b>Wildcards:</b> <pre>epilep*</pre> <pre>in*able</pre>
		<li><b>Fuzzy Searches</b> (finds similarly spelled words): <pre>lobe~</pre>
			To find common misspellings, try:
			<pre>emphysema~0.7</pre>
		</li>
		<li><b>Proximity Searches</b> (find words that are a distance away from each other):
			<pre>"uncontrolled seizure"~5</pre>
		</li>
		<li><b>Boolean Operators:</b>
			<pre>tumor OR polyp</pre>
			<pre>"breast cancer" AND screening</pre>
			<pre>diabetes AND (hypertension OR "high blood pressure" OR hbp)</pre>
		</li>
	</ul>
</div>