[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

pre {
 font-size: 16px; 
 line-height: 1.618em; 
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
 font-family: 'droid_sans_monoregular','Anonymous Pro', monospace;
 text-indent: 0px;
}

.full-highlighting {
    background-color: #FFFF99;
    font-weight: bold;
    border-radius: 8px;
    padding: 2px 4px;
}

.highlighting {
	font-weight:bold;
	text-decoration:underline;
}