@(loggedIn:Boolean, url: String,  webJarAssets: WebJarAssets, requireJS: org.webjars.play.RequireJS, title: String)

@main(loggedIn, null, null, null, webJarAssets, requireJS, title) {
<div class="container">
	<div class="row">
		<div class="col-xs-3"></div>
		<div class="col-xs-6">
			<h3>Chart Review Login</h3>
			<div class="well">
				<form action="@url" method="POST">
					<h4>Username</h4>
					<input  class="form-control" type="text" name="username" value="" />
					<br />
					<h4>Password</h4>
					<input class="form-control" type="password" name="password" value="" />
					<br /><br />
					<input class="btn btn-success" type="submit" name="submit" value="Submit" />
				</form>
			</div>
		</div>
		<div class="col-xs-3"></div>
	</div>
</div>
}
